<div ng-controller="AdministratorDashboardController as ctrl">

    <h1 class="ui header">
        <span style="font-weight: 300;">Administrative Management Console</span>
        <h3 class="ui sub header">
            <div style="display: inline;" class="ui green">
                <span>{{ ctrl.data.teacher_escort }} </span>
            </div>
        </h3>
    </h1>

    <div class="dashboard__conference--controller">

        <table class="ui celled table">

            <thead>

                <tr>

                    <th>School Name</th>
                    <th>Status</th>
                    <th>Confirm Conference</th>
                    <th>Edit</th>

                </tr>

            </thead>

            <tbody>

                <tr ng-repeat="conference in ctrl.allConferences">

                    <td>
                        {{ conference.schoolName }}
                    </td>

                    <td>
                        {{ ( conference.isConfirmed ? "Confirmed" : ( conference.areFormsFilled ? "All Forms Filled" : "Unconfirmed" ) ) }}
                    </td>
                    <td>
                        <button ng-click="ctrl.ConfirmConference( conference.conferenceGuid )" class="ui labeled icon primary button" ng-disabled="!conference.areFormsFilled || ctrl.isProcessing">
                            <i class="checkmark icon"></i>
                            {{ ctrl.isProcessing ? "Processing..." : "Confirm Conference" }}
                        </button>
                    </td>
                    <td>
                        <a ui-sref="editConferenceAdmin({guid: conference.conferenceGuid})">Edit</a>
                    </td>


                </tr>

            </tbody>

        </table>

    </div>

</div>
