<div ng-controller="EditConferenceAdminController as ctrl">

    <h1 class="ui header">
        <span style="font-weight: 300;">Edit Conference</span>
    </h1>

    <div class="ui section divider"></div>

    <div class="ui five small steps">

      <div ng-class="( ctrl.conferenceData.registration && ctrl.conferenceData.registration.isFormFilled ) ? 'completed' : 'active'" class="step">

        <i class="tasks icon"></i>

        <div class="content">
          <div class="title">
              <span>Registration</span>
          </div>
        </div>

      </div>

      <div ng-class="( ctrl.conferenceData.delegateInformation && ctrl.conferenceData.delegateInformation.isFormFilled ) ? 'completed' : 'active'" class="step">

        <i class="user icon"></i>

        <div class="content">
          <div class="title">
              <span>Delegate Information</span>
          </div>
        </div>

      </div>

      <div ng-class="( ctrl.conferenceData.travelArrangements && ctrl.conferenceData.travelArrangements.isFormFilled ) ? 'completed' : 'active'" class="step">

        <i class="calendar outline icon"></i>

        <div class="content">
          <div class="title">
              <span>Travel Arrangement</span>
          </div>
        </div>

      </div>

      <div ng-class="( ctrl.conferenceData.gaCrisis && ctrl.conferenceData.gaCrisis.isFormFilled ) ? 'completed' : 'active'" class="step">

        <i class="square icon"></i>

        <div class="content">
          <div class="title">
              <span>GA Crisis</span>
          </div>
        </div>

      </div>

    </div>

    <div ng-show="ctrl.isConferenceConfirmed" class="ui green message" style="margin-top: 3em;">

        <div class="header">Conference Confirmed</div>

    </div>

    <div ng-show="ctrl.areFormsFilled && !ctrl.isConferenceConfirmed" class="ui message" style="margin-top: 3em;">

        <div class="header">All Forms Filled</div>
        <p>
            The delegation from {{ ctrl.conferenceData.schoolName }} has filled in all of the
            required forms.
        </p>

    </div>

    <div class="mid-container">

        <form name="main-form" ng-submit="ctrl.UpdateForm()" class="ui seperated form" >

            <div class="ui buttons">
                <button type="submit" ng-disabled="ctrl.processing" class="ui positive button">{{ ctrl.processing ? "Processing..." : "Save" }}</button>
            </div>

            <button ng-disabled="ctrl.isReloading" ng-click="ctrl.RefreshView()" class="ui blue button">
                {{ ctrl.isReloading ? "Processing..." : "Reload" }}
            </button>

            <div ng-show="ctrl.isMessage" ng-class="ctrl.messageClass" class="ui message">
                <div class="header">
                    {{ ctrl.messageHeader }}
                </div>
                <p>{{ ctrl.messageText }}</p>
            </div>

            <div class="ui top attached tabular menu">
                <a class="item active" data-tab="registrationForm">Registration Form</a>
                <a class="item" data-tab="delegateInformationForm">Delegate Information Form</a>
                <a class="item" data-tab="travelArrangementsForm">Travel Arrangements Form</a>
                <a class="item" data-tab="gaCrisisForm">GA Crisis Form</a>
                <a class="item" data-tab="countryAllotments">Country Allotments</a>
                <a class="item" data-tab="notifications">Post Notifications</a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="registrationForm">

                <div class="admin__form-header ui dividing header">
                    <h1>Registration Form</h1>
                    <div class="checkbox__container">
                        <input ng-model="ctrl.conferenceData.registration.isFormFilled" type="checkbox" tabindex="0">
                        <label>Form Filled and Confirmed</label>
                    </div>
                </div>

                <div class="field">

                    <div class="field">
                        <label>Name</label>
                        <input required type="text" ng-model="ctrl.conferenceData.registration.facultyAdvisor.name" placeholder="First Name">
                    </div>

                    <div class="two fields">

                        <div class="field">
                            <label>Mobile Number</label>
                            <input required type="text" ng-model="ctrl.conferenceData.registration.facultyAdvisor.mobileNumber" placeholder="Mobile Number">
                        </div>

                        <div class="field">
                            <label>Landline Number</label>
                            <input type="text" ng-model="ctrl.conferenceData.registration.facultyAdvisor.landlineNumber" placeholder="Landline Number">
                        </div>

                    </div>

                    <div class="field">
                        <label>Email</label>
                        <input required type="text" ng-model="ctrl.conferenceData.registration.facultyAdvisor.email" placeholder="Email Address">
                    </div>

                </div>

                <h4 class="ui dividing header">
                    Address
                </h4>
                <div class="one field">

                    <div class="field">
                        <label>Street</label>
                        <input required type="text" ng-model="ctrl.conferenceData.registration.address.street" placeholder="Street Address">
                    </div>

                </div>

                <div class="two fields">

                    <div class="field">
                        <label>City</label>
                        <input required type="text" ng-model="ctrl.conferenceData.registration.address.city" placeholder="City">
                    </div>

                    <div class="field">
                        <label>PIN</label>
                        <input required type="text" ng-model="ctrl.conferenceData.registration.address.pin" placeholder="Zip Code">
                    </div>

                </div>

                <div class="two fields">

                    <div class="field">
                        <label>State</label>
                        <input required ng-model="ctrl.conferenceData.registration.address.state" />
                    </div>

                    <div class="field">
                        <label>Country</label>
                        <input required ng-model="ctrl.conferenceData.registration.address.country" />
                    </div>

                </div>

            </div>
            <div class="ui bottom attached tab segment" data-tab="delegateInformationForm">

                <div class="admin__form-header ui dividing header">
                    <h1>Delegate Information Form</h1>
                    <div class="checkbox__container">
                        <input id="delegateInformationCheck" ng-model="ctrl.conferenceData.delegateInformation.isFormFilled" type="checkbox" tabindex="0">
                        <label>Form Filled and Confirmed</label>
                    </div>
                </div>

                <div ng-repeat="delegate in ctrl.conferenceData.delegateInformation.delegates" style="padding-bottom: 2.5em;">

                    <h4 class="ui dividing header checkbox__container alt">

                        <span>{{ delegate.name }}</span>
                        <div class="checkbox__container--inner">
                            <input id="delegateInformationCheck" ng-model="ctrl.conferenceData.delegateInformation.delegates[ $index ].isCommitteeConfirmed" type="checkbox" tabindex="0">
                            <label style="margin-right: 1em;">Committee Confirmed</label>
                            <div ng-show="ctrl.conferenceData.countryAllotment" class="checkbox__container--inner">
                                <input ng-model="ctrl.conferenceData.delegateInformation.delegates[ $index ].isCountryConfirmed" type="checkbox" tabindex="0">
                                <label>Country Confirmed</label>
                            </div>
                        </div>

                    </h4>

                    <div class="field">
                        <label>Name</label>
                        <input required type="text" ng-model="ctrl.conferenceData.delegateInformation.delegates[ $index ].name" placeholder="Name">
                    </div>

                    <div class="two fields">
                        <div class="field">
                            <label>Dietry Preference</label>
                            <select class="ui dropdown" ng-model="ctrl.conferenceData.delegateInformation.delegates[ $index ].mealPreference">

                                <option value="veg">Vegetarian</option>
                                <option value="nonveg">Non - Vegetarian</option>

                            </select>
                        </div>
                        <div class="field">
                            <label>Gender</label>
                            <select class="ui dropdown" ng-model="ctrl.conferenceData.delegateInformation.delegates[ $index ].gender">

                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="opther">I prefer not to disclose</option>

                            </select>
                        </div>
                    </div>

                    <div ng-class="ctrl.fieldClasses">
                        <div class="field">
                            <label>Committee Preference</label>
                            <select class="ui dropdown" ng-model="ctrl.conferenceData.delegateInformation.delegates[ $index ].committee">

                                <option value="unsc">United Nations Security Council</option>
                                <option value="unscss">Supreme Council of Sovereign States</option>
                                <option value="disec">Disarmament and International Security Committee</option>
                                <option value="au">African Union</option>
                                <option value="ec">European Council</option>
                                <option value="iaea">International Atomic Energy Agency</option>
                                <option value="unhrc">United Nations Human Rights Council</option>
                                <option value="ls">Lok Sabha</option>
                                <option value="ipc">International Press Corps</option>
                                <option value="specpol">Special Political and Decolonisation Committee</option>
                                <option value="scp">United Nations Special Committee on Palestine</option>
                                <option value="odc">United Nations Office of Drugs and Crime</option>
                                <option value="icao">International Civil Aviation Organisation</option>

                            </select>
                        </div>
                        <div ng-hide="!ctrl.conferenceData.countryAllotment" class="field">
                            <label>Country Allotment</label>
                            <select class="ui dropdown" ng-model="ctrl.conferenceData.delegateInformation.delegates[ $index ].countryAllotment">
                                <option ng-repeat="country in ctrl.GetAllotments( ctrl.conferenceData.delegateInformation.delegates[ $index ].committee )" value="{{ country.country }}">{{ country.country }}</option>
                            </select>
                        </div>
                    </div>

                    <button ng-click="ctrl.RemoveDelegate( $index )" class="ui red button">
                        <i class="icon remove"></i>
                        Remove Delegate
                    </button>

                </div>

                <div ng-disabled="this.shouldDisableAddDelegates" ng-click="ctrl.AddDelegate()" class="ui labeled button" tabindex="0">
                    <div class="ui button" ng-class="( ( ctrl.conferenceData.delegateInformation.delegates.length < 17 ) ? 'blue' : 'red' )">
                        <i class="plus icon"></i> Delegate
                    </div>
                    <a class="ui basic left pointing label" ng-class="( ( ctrl.conferenceData.delegateInformation.delegates.length < 17 ) ? 'blue' : 'red' )">
                        {{ ctrl.conferenceData.delegateInformation.delegates.length || 0 }}
                    </a>
                </div>

            </div>
            <div class="ui bottom attached tab segment" data-tab="travelArrangementsForm">

                <div class="admin__form-header ui dividing header">
                    <h1>Travel Arrangements Form</h1>
                    <div class="checkbox__container">
                        <input ng-model="ctrl.conferenceData.travelArrangements.isFormFilled" type="checkbox" tabindex="0">
                        <label>Form Filled and Confirmed</label>
                    </div>
                </div>

                <div class="field">

                    <label>Total Passengers</label>
                    <input type="text" placeholder="Total Passengers" ng-model="ctrl.conferenceData.travelArrangements.totalPassengers">

                </div>

                <h4 class="ui dividing header">
                    Onward Journey
                </h4>

                <div class="two fields">

                    <div class="field">

                        <label>Arrival Date</label>
                        <input class="datepicker" ng-model="ctrl.conferenceData.travelArrangements.onward.arrivalDate" type="date">

                    </div>

                    <div class="field">

                        <label>Departure Date</label>
                        <input class="datepicker" ng-model="ctrl.conferenceData.travelArrangements.onward.departureDate" type="date">

                    </div>

                </div>

                <div class="three fields">

                    <div class="field">

                        <label>Time of Arrival</label>
                        <input ng-model="ctrl.conferenceData.travelArrangements.onward.timeOfArrival" type="text" placeholder="Time of Arrival">

                    </div>

                    <div class="field">

                        <label>Place of Departure</label>
                        <input ng-model="ctrl.conferenceData.travelArrangements.onward.placeOfDeparture" type="text" placeholder="Place of Departure">

                    </div>

                    <div class="field">

                        <label>Mode of Transport</label>
                        <select ng-model="ctrl.conferenceData.travelArrangements.onward.mode" class="ui search dropdown">
                            <option value="train">Train</option>
                            <option value="air">Air</option>
                            <option value="other">Other</option>
                        </select>

                    </div>

                </div>

                <div class="field">

                    <label>Other Details</label>
                    <textarea ng-model="ctrl.conferenceData.travelArrangements.onward.details" ></textarea>

                </div>

                <h4 class="ui dividing header">
                    Return Journey
                </h4>

                <div class="two fields">

                    <div class="field">

                        <label>Arrival Date</label>
                        <input class="datepicker" ng-model="ctrl.conferenceData.travelArrangements.returnJourney.arrivalDate" type="date">

                    </div>

                    <div class="field">

                        <label>Departure Date</label>
                        <input class="datepicker" ng-model="ctrl.conferenceData.travelArrangements.returnJourney.departureDate" type="date">

                    </div>

                </div>

                <div class="three fields">

                    <div class="field">

                        <label>Time of Arrival</label>
                        <input ng-model="ctrl.conferenceData.travelArrangements.returnJourney.timeOfArrival" type="text" placeholder="Time of Arrival">

                    </div>

                    <div class="field">

                        <label>Place of Departure</label>
                        <input ng-model="ctrl.conferenceData.travelArrangements.returnJourney.placeOfDeparture" type="text" placeholder="Place of Departure">

                    </div>

                    <div class="field">

                        <label>Mode of Transport</label>
                        <select ng-model="ctrl.conferenceData.travelArrangements.returnJourney.mode" class="ui search dropdown">
                            <option value="train">Train</option>
                            <option value="air">Air</option>
                            <option value="other">Other</option>
                        </select>

                    </div>

                </div>

                <div class="field">

                    <label>Other Details</label>
                    <textarea ng-model="ctrl.conferenceData.travelArrangements.returnJourney.details" ></textarea>

                </div>

            </div>
            <div class="ui bottom attached tab segment" data-tab="gaCrisisForm">
                <div class="admin__form-header ui dividing header">
                    <h1>GA Crisis Form</h1>
                    <div class="checkbox__container">
                        <input ng-model="ctrl.conferenceData.gaCrisis.isFormFilled" type="checkbox" tabindex="0">
                        <label>Form Filled and Confirmed</label>
                    </div>
                </div>

                <div ng-repeat="delegate in ctrl.conferenceData.gaCrisis.delegates" style="padding-bottom: 2.5em;">

                    <div class="field">

                        <label>Name</label>
                        <input type="text" ng-model="ctrl.conferenceData.gaCrisis.delegates[ $index ].name">

                    </div>

                    <button ng-click="ctrl.RemoveGADelegate( $index )" class="ui red button">
                        <i class="icon remove"></i>
                        Remove Delegate
                    </button>

                </div>

                <div ng-disabled="this.shouldDisableAddGaDelegates" ng-click="ctrl.AddGADelegate()" class="ui labeled button" tabindex="0">
                    <div class="ui button" ng-class="( ( ctrl.conferenceData.gaCrisis.delegates.length < 5 ) ? 'blue' : 'red' )">
                        <i class="plus icon"></i> Delegate (GA)
                    </div>
                    <a class="ui basic left pointing label" ng-class="( ( ctrl.conferenceData.gaCrisis.delegates.length < 5 ) ? 'blue' : 'red' )">
                        {{ ctrl.conferenceData.gaCrisis.delegates.length || 0 }}
                    </a>
                </div>

            </div>
            <div class="ui bottom attached tab segment" data-tab="countryAllotments">

                <div class="admin__form-header ui dividing header">
                    <h1>Country Allotment</h1>
                </div>

                <div ng-repeat="country in ctrl.conferenceData.countryAllotment.allotments" class="two fields">

                    <div class="field">
                        <label>Committee</label>
                        <select class="ui dropdown" ng-model="ctrl.conferenceData.countryAllotment.allotments[ $index ].name">

                            <option value="unsc">United Nations Security Council</option>
                            <option value="unscss">Supreme Council of Sovereign States</option>
                            <option value="disec">Disarmament and International Security Committee</option>
                            <option value="au">African Union</option>
                            <option value="ec">European Council</option>
                            <option value="iaea">International Atomic Energy Agency</option>
                            <option value="unhrc">United Nations Human Rights Council</option>
                            <option value="ls">Lok Sabha</option>
                            <option value="ipc">International Press Corps</option>
                            <option value="specpol">Special Political and Decolonisation Committee</option>
                            <option value="scp">United Nations Special Committee on Palestine</option>
                            <option value="odc">United Nations Office of Drugs and Crime</option>
                            <option value="icao">International Civil Aviation Organisation</option>

                        </select>
                    </div>

                    <div class="field">
                        <label>Country</label>
                        <input ng-model="ctrl.conferenceData.countryAllotment.allotments[ $index ].country" type="text" placeholder="Allotment {{ $index + 1 }}">
                    </div>

                </div>

                <div ng-click="ctrl.AddCountryAllotment()" class="ui labeled button" tabindex="0">
                    <div class="ui blue button">
                        <i class="plus icon"></i> Allotment
                    </div>
                    <a class="ui basic blue left pointing label">
                        {{ ctrl.conferenceData.countryAllotment.allotments.length || 0 }}
                    </a>
                </div>

            </div>
            <div class="ui bottom attached tab segment" data-tab="notifications">

                <div class="admin__form-header ui dividing header">
                    <h1>Notifications</h1>
                </div>

                <div style="margin-bottom: 2em;">
                    <div class="two fields">
                        <div class="field">
                            <label>Notification Title</label>
                            <input type="text" ng-model="ctrl.notification.notificationTitle">
                        </div>
                        <div class="field">
                            <label>Notification Type</label>
                            <select ng-model="ctrl.notification.notificationType" class="ui dropdown">
                                <option value="blue">Information</option>
                                <option value="yellow">Warning</option>
                                <option value="red">Severe</option>
                            </select>
                        </div>
                    </div>
                    <div class="ui field">
                        <label>Notification Text</label>
                        <textarea ng-model="ctrl.notification.notificationText" type="text"></textarea>
                    </div>
                </div>

                <button ng-click="ctrl.PostNotification()" ng-disabled="ctrl.isProcessing" class="ui blue button" tabindex="0">

                    <i class="plus icon"></i>
                    {{ ctrl.isProcessing ? "Processing..." : "Post Notification" }}

                </button>

            </div>

        </form>

    </div>

    <button style="margin-top: 4em;" class="ui labeled icon button" ui-sref="dashboardAdmin">
        <i class="arrow left icon"></i>
        Back
    </button>

</div>
<script type="text/javascript">
    $( document ).ready( function() {

        $( '.menu .item' ).tab();

    });
</script>
