<div ng-controller="EditConferenceController as ctrl">

    <h1 class="ui header">
        <span style="font-weight: 300;">Edit Conference</span>
    </h1>

    <div class="ui section divider"></div>

    <div class="ui five small steps">

      <div ng-class="( ctrl.conferenceData.registration && ctrl.conferenceData.registration.isFormFilled ) ? 'completed' : 'active'" class="step">

        <i class="tasks icon"></i>

        <div class="content">
          <div class="title">
              <a ng-show="( !ctrl.conferenceData.registration || ( ctrl.conferenceData.registration && ctrl.conferenceData.registration.isFormFilled == false ) )" ui-sref="registrationForm({guid: ctrl.guid})">Registration</a>
              <span ng-show="( ctrl.conferenceData.registration && ctrl.conferenceData.registration.isFormFilled == true )">Registration</span>
          </div>
        </div>

      </div>

      <div ng-class="( ctrl.conferenceData.delegateInformation && ctrl.conferenceData.delegateInformation.isFormFilled ) ? 'completed' : 'active'" class="step">

        <i class="user icon"></i>

        <div class="content">
          <div class="title">
              <a ng-show="( !ctrl.conferenceData.delegateInformation || ( ctrl.conferenceData.delegateInformation && ctrl.conferenceData.delegateInformation.isFormFilled == false ) )" ui-sref="delegateInformationForm({guid: ctrl.guid})">Delegate Information</a>
              <span ng-show="( ctrl.conferenceData.delegateInformation && ctrl.conferenceData.delegateInformation.isFormFilled == true )">Delegate Information</span>
          </div>
        </div>

      </div>

      <!-- <div ng-class="( ctrl.conferenceData.medicalHistory && ctrl.conferenceData.medicalHistory.isFormFilled ) ? 'completed' : 'active'" class="step">

        <i class="treatment icon"></i>

        <div class="content">
          <div class="title">
              <a ng-show="( !ctrl.conferenceData.medicalHistory || ( ctrl.conferenceData.medicalHistory && ctrl.conferenceData.medicalHistory.isFormFilled == false ) )" ui-sref="medicalHistoryForm({guid: ctrl.guid})">Medical History</a>
              <span ng-show="( ctrl.conferenceData.medicalHistory && ctrl.conferenceData.medicalHistory.isFormFilled == true )">Medical History</span>
          </div>
        </div>

      </div> -->

      <div ng-class="( ctrl.conferenceData.travelArrangements && ctrl.conferenceData.travelArrangements.isFormFilled ) ? 'completed' : 'active'" class="step">

        <i class="calendar outline icon"></i>

        <div class="content">
          <div class="title">
              <a ng-show="( !ctrl.conferenceData.travelArrangements || ( ctrl.conferenceData.travelArrangements && ctrl.conferenceData.travelArrangements.isFormFilled == false ) )" ui-sref="travelArrangementsForm({guid: ctrl.guid})">Travel Arrangement</a>
              <span ng-show="( ctrl.conferenceData.travelArrangements && ctrl.conferenceData.travelArrangements.isFormFilled == true )">Travel Arrangement</span>
          </div>
        </div>

      </div>

      <div ng-class="( ctrl.conferenceData.gaCrisis && ctrl.conferenceData.gaCrisis.isFormFilled ) ? 'completed' : 'active'" class="step">

        <i class="square icon"></i>

        <div class="content">
          <div class="title">
              <a ng-show="( !ctrl.conferenceData.gaCrisis || ( ctrl.conferenceData.gaCrisis && ctrl.conferenceData.gaCrisis.isFormFilled == false ) )" ui-sref="gaCrisisForm({guid: ctrl.guid})">GA Crisis</a>
              <span ng-show="( ctrl.conferenceData.gaCrisis && ctrl.conferenceData.gaCrisis.isFormFilled == true )">GA Crisis</span>
          </div>
        </div>

      </div>

    </div>

    <div ng-repeat="notification in ctrl.notifications" class="ui message" ng-class="notification.notification_type" style="margin-top: 3em;">

        <div class="header">{{ notification.notification_title }}</div>
        <p>
            {{ notification.notification_text }}
        </p>

        <i class="close icon" ng-click="ctrl.MarkAsViewed( notification.notification_id )" id="{{notification.notification_id}}"></i>

    </div>

    <div ng-show="ctrl.isAllDone" class="ui message" style="margin-top: 3em;">

        <div class="header">All Forms Filled</div>
        <p>
            All of your forms have been filled, and have been checked by the DSMUN Management Team.
            All it remains for you is to finish the registration by downloading the Payment From
            from <a href="http://static.dsmun.com/documents/payment_form.pdf">here</a>, and finishing
            the payment.
        </p>

        <p>
            Once the payment is received and processed, your <a ui-sref="dashboard">Dashboard</a>
            will show an option to download the confirmation sheet. This sheet contains a summarised
            version of your registration, a confirmation code, and other such details.
        </p>

    </div>

    <button style="margin-top: 4em;" class="ui labeled icon button" ui-sref="dashboard">
        <i class="arrow left icon"></i>
        Back
    </button>

</div>
