<div ng-controller="TravelArrangementsFormController as ctrl">

    <h2 class="ui header">
        <i class="calendar outline icon"></i>
        <div class="content">
            Travel Arrangements Form
        </div>
    </h2>

    <div class="ui section divider"></div>

    <form ng-submit="ctrl.UpdateForm()" class="ui seperated form">

        <div class="field">

            <input type="text" placeholder="Total Passengers" ng-model="ctrl.conferenceData.travelArrangements.totalPassngers">

        </div>

        <h4 class="ui dividing header">
            Onward Journey
        </h4>

        <div class="two fields">

            <div class="field">

                <label>Arrival Date</label>
                <input ng-model="ctrl.conferenceData.travelArrangements.onward.arrivalDate" type="date">

            </div>

            <div class="field">

                <label>Departure Date</label>
                <input ng-model="ctrl.conferenceData.travelArrangements.onward.departureDate" type="date">

            </div>

        </div>

        <div class="three fields">

            <div class="field">

                <label>Time of Arrival</label>
                <input ng-model="ctrl.conferenceData.travelArrangements.onward.timeOfArrival" type="text" placeholder="Time of Arrival">

            </div>

            <div class="field">

                <label>Place of Departure</label>
                <input ng-model="ctrl.conferenceData.travelArrangements.onward.placeOfDeparture" type="text" placeholder="Place of Departure">

            </div>

            <div class="field">

                <label>Mode of Transport</label>
                <select ng-model="ctrl.conferenceData.travelArrangements.onward.mode" class="ui search dropdown">
                    <option value="train">Train</option>
                    <option value="air">Air</option>
                    <option value="other">Other</option>
                </select>

            </div>

        </div>

        <div class="field">

            <label>Other Details</label>
            <textarea ng-model="ctrl.conferenceData.travelArrangements.onward.details" ></textarea>

        </div>

        <h4 class="ui dividing header">
            Return Journey
        </h4>

        <div class="two fields">

            <div class="field">

                <label>Arrival Date</label>
                <input ng-model="ctrl.conferenceData.travelArrangements.returnJourney.arrivalDate" type="date">

            </div>

            <div class="field">

                <label>Departure Date</label>
                <input ng-model="ctrl.conferenceData.travelArrangements.returnJourney.departureDate" type="date">

            </div>

        </div>

        <div class="three fields">

            <div class="field">

                <label>Time of Arrival</label>
                <input ng-model="ctrl.conferenceData.travelArrangements.returnJourney.timeOfArrival" type="text" placeholder="Time of Arrival">

            </div>

            <div class="field">

                <label>Place of Departure</label>
                <input ng-model="ctrl.conferenceData.travelArrangements.returnJourney.placeOfDeparture" type="text" placeholder="Place of Departure">

            </div>

            <div class="field">

                <label>Mode of Transport</label>
                <select ng-model="ctrl.conferenceData.travelArrangements.returnJourney.mode" class="ui search dropdown">
                    <option value="train">Train</option>
                    <option value="air">Air</option>
                    <option value="other">Other</option>
                </select>

            </div>

        </div>

        <div class="field">

            <label>Other Details</label>
            <textarea ng-model="ctrl.conferenceData.travelArrangements.returnJourney.details" ></textarea>

        </div>

        <div class="ui buttons">
            <button ui-sref="editConference({guid:ctrl.guid})" ng-disabled="ctrl.processing" class="ui button">Back</button>
            <div class="or"></div>
            <button type="submit" ng-disabled="ctrl.processing" class="ui positive button">{{ ctrl.processing ? "Processing..." : "Save" }}</button>
        </div>

        <div ng-show="ctrl.isMessage" ng-class="ctrl.messageClass" class="ui message">
            <div class="header">
                {{ ctrl.messageHeader }}
            </div>
            <p>{{ ctrl.messageText }}</p>
        </div>

    </form>

</div>
